*{
    
    padding: 0;
    text-align: center;
    margin: 10px;
    
}
body{
    background-image: url(image/bg.jpg);

    color: antiquewhite;
}
i{ height: 20px;
    opacity: 1;
    
    display: inline-block;
    padding-right: 40%;
}
h3{
    display: inline-block;
    margin-right: 300px;
    margin-top: 40px;
    font-size:30px;
    
}
h2{
    font-size:50px;
}

i{
    margin-top: 0;
}
input{
    font-size: larger;
    height: 30px;
    margin: none;
}
#temp{
    height: 200px;
    width: 200px;
    font-weight: bolder;
    font-size: 40px;
    margin-left: 550px;
    margin-top: 50px;
}
p{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10%;
}
#seven{
    width: 500px;
    margin-left: 5px;
    background-color: lightslategray ;
    border-radius: 10%;
    border: 5px solid burlywood;
    margin-top: 100px;
}
.six{
    display: inline-block;
    height: 80px;
    width: 100px;
    background-color: lightgreen;
    margin-right: 20px;
    text-align: center;
    padding-top: 10%;
    border: 5px solid bisque;
    border-radius: 10%;
    color: black;
    
    
}

    

#sun{
    margin-left: 4px;
    height: 530px;
    width: 500px;
    margin-right: 0;
    color: white;
    background-color: lightslategray ;
    border-radius: 10%;
    border: 5px solid burlywood;
    margin-top: 70px;
}
#sunrise{
    width: 200px;
    height: 200px;
    color: black;
    display: inline-block;
     
}
#sunset{
    width:200px;
    height: 200px;
    color:black;
    display: inline-block;
    
}
#days{
    display: inline-block;
    background-color: lightslategray;
    width: 500px;
    border: 5px solid burlywood;
    border-radius: 10%;
    height: 435px;
    padding-top: 8%;
    margin-left: 75px;
    color: black;
    font-size: larger;
    
}
#time{
    height: 57px;
    
    display: inline-block;
}
#hl{
 display: inline-block;
   
}
#btn{
    height: 54px;
    width: 50px;
    
    
    margin-left: 0px;
    margin-bottom: 8px;
   
}
input{
    height: 50px;
    margin-top: 8px;
   
    margin-right: 0px;
    
}
